// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$background: #f7f8f9;
$text: #3a3c42;

body {
    background-color: $background;
    color: $text;
}